<a href="https://colab.research.google.com/github/aodhanman/Algorithms/blob/main/CA1_CCT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 (10 marks)
Create a Python program using a for loop that will take a user-supplied list of 5 float numbers as input.
Expected Output:
[4.69, 57.54, 5.67, 67.09, 54.99]

In [21]:
float_list = []

# for loop to get 5 numbers
for i in range(5):
    try:
        user_input = float(input(f"Enter float number {i+1}: "))
        # ask for input and convert it to a float
        float_list.append(user_input)
    except ValueError:
        print(" Please enter a valid number")
        i -= 1

# Print the float numbers
print(float_list)

Enter float number 1: 23f
 Please enter a valid number
Enter float number 2: 234
Enter float number 3: 32.4
Enter float number 4: 237.9
Enter float number 5: ew
 Please enter a valid number
[234.0, 32.4, 237.9]

Q2 (10 marks)
Write a Python program to take three names as input from a user in the single input() function call and
display the concatenation of all three names.
Expected Output:
Enter three string: CCT1 CCT2 CCT3
Name1: CCT1
Name2: CCT2
Name3: CCT3
The concatenation of 3 strings: CCT1CCT2CCT3

In [19]:
user_input = input("Enter three names separated by a space: ")
#user inputs names
names = user_input.split()
#split into names

print(f"Name1: {names[0]}")
print(f"Name1: {names[1]}")
print(f"Name1: {names[2]}")
 # print names
join_names = ''.join(names)

print(f"The concatenation of 3 strings: {join_names}")

Enter three names separated by a space: jim jubd bud
Name1: jim
Name1: jubd
Name1: bud
The concatenation of 3 strings: jimjubdbud

Q3 (10 marks)
Writ a python program that finds the smallest number in a list AND the smallest numbers index in the list.
The program should only have an output. You may not use the “min” function.
The List you must use is 5,8,4,9,6,7,10,15,12
Output
The smallest number in the list is 4 which is found at index 2

In [ ]:
numbers_list = [5,8,4,9,6,7,10,15,12 ]

smallest_number = numbers_list[0]
smallest_number_index = 0

for index, num in enumerate(numbers_list):
  if num < smallest_number:
    smallest_number = num
    smallest_number_index = index

    print(f"The smallest number is  {smallest_number} at {smallest_number_index}")

The smallest number is  4 at 2

Q4 (15 marks)
Writ a python program to implement the below algorithm:
• Create a NumPy array with 1000 elements and take the mean of every 5 sample window.
• [datamean] < -- mean ( [ numpy_array (1 : 5 : end ) ] )
• [data]min < -- min ( [ datamean ] )
• [data]max < -- max ( [ datamean ] )
• [ value ] max < -- max ( abs ( [data]max), abs([ [data]min])

In [16]:
import numpy as np

numpy_array = np.random.rand(1000)

window_size = 5
num_windows = len(numpy_array)

Q5 (15 marks)

Write a Python program with two user-defined functions, where one function accepts a mark in a float
using the input() function, and pass this input to another user-defined function that assigns the grades
according to the marks.
Example: Grade A if marks >=90
Grade B if marks >= 70
Grade C if marks >= 50
Grade D if marks >= 40
Grade Fail if marks < 40

In [15]:
def grading():
  try:
    score = float(input("Enter the student's score: "))
    return score
  except ValueError:
    print("Invalid")
    return None

def grade(score):
  if score is None:
    return "Invalid Input"
  if score >= 90:
    return "Grade A"
  elif score >= 70:
    return "Grade B"
  elif score >= 50:
    return "Grade C"
  elif score >= 40:
    return "Grade D"
  else:
    return "Grade Fail"

student_score = grading()
#get marks from user

score = grade(student_score)
#get grade from score

print(f"The students grade is {score}")
#print student grade

Enter the student's score: 45
The students grade is Grade D

Q6 (15 marks)

Consider that the below Python program contains some syntax errors. Trace the errors and resolve them.
The expected output of this program is:
10 + 6 = 16
10 - 6 = 4
After resolving the errors, write a short note on the interpretation of the code.

In [22]:
class add_sub:
    def __init__ (self, x, y):
        self.x = x
        self.y = y
    #define add method
    def add(self):
      return self.x + self.y
    #define 'subtract method
    def subtract(self):
          return self.x - self.y
if __name__ == "__main__":
    y = 6
    x = 10
    #create an instance
    opp = add_sub(y,x)
    print(f'{x} + {y} = {opp.add()}')
    #print(opp.add())
    #print subtract
    print(f'{x} - {y} = {opp.subtract()}')

10 + 6 = 16
10 - 6 = -4

Q7 (25 marks)

Perform exploratory data analysis and data pre-processing on the agricultural production dataset.

1. Import the required library packages. (1 marks)
2. Read the dataset from pandas. (1 marks)
3. Check for the null values and delete the rows if there are fewer than 4000 missing values. (5
marks)
4. Extract the data where the production value is not equal to zero. (3 marks)
5. Since what year the data has been collected? print it in ascending order. (5 marks)
6. Print the number of states, union territories (UT), and their names in ascending order. (5
marks)
7. Write the code to display the state with highest production. (5 marks)
Note: In question 6 of the main question 7, the state_name column contains both states and union
territories. You need to print the total number and their names in ascending order.

The expected output is as follows:

Total number of states and UT are 33 and their names ['Andaman and Nicobar Islands',…,]
The result of question 7 of the main question 7 does not required any visualisation, just print the result.
The expected output is as follows:
State_Name xxxx
District_Name xxxx
Crop_Year xxxx
Season xxxx
Crop xxxx
Area xxxx
Production xxxx

In [30]:
from pickle import HIGHEST_PROTOCOL
import pandas as pd
#import pandas library

data = pd.read_csv("crop_production.csv")
#Reads the data from CSV


data.dropna(thresh= 4000, inplace=True)


data = data[data['Production'] != 0]
# data where not equal to zero

years = sorted(data['Crop_Year'].unique())
print("Year of data in ascending order:", years)
#Year data was collected in ascending order

num_states = data['State_Name'].nunique()
state_names = sorted(data['State_Name'].unique())
print(f'Num of states {num_states} names {state_names}')


# should print state with highest production
highest_production = data.groupby('State_Name')['Production'].sum().idxmax()

print(f"Highest production state is {highest_production}")

Year of data in ascending order: []
Num of states 0 names []

ValueError: ignored